<header>
  <div class="header-container justify-content-center md:justify-content-between sm:w-12">
    <div class="header-logo hidden md:block">
      <img
        src="https://pbs.twimg.com/profile_images/1635693656039469066/sbfH1f8g_400x400.jpg"
        alt="logo"
        class="ml-5"
      />
    </div>

    <nav class="flex justify-content-center">
      <a routerLink="home" class="btn2 mx-4">
        Home
      </a>
      <a routerLink="list" class="btn2 mx-4">
        List
      </a>
      <a routerLink="search" class="btn2 mx-4">
        Search
      </a>
      <a routerLink="404" class="btn2 mx-4 block md:hidden">
        Rating
      </a>
    </nav>
    <div class="mx-4 hidden md:block">
      <button routerLink="404">Rating</button>
    </div>
  </div>
</header>
