h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #000b4f;
}

h4 {
  font-size: 2rem;
  text-align: center;
  color: #000b4f;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px !important;
}
